<div class="container">
  <div class="spacious content-block center">
    <h1>Careers</h1>
  </div>

  <div class="Vlt-grid">
    <div class="Vlt-col">
      <div class="Vlt-native-dropdown">
        <%= select_tag "department",
          options_from_collection_for_select(Career::DEPARTMENTS, :first, :first),
          prompt: "Filter by department",
          id: 'department-filter'
        %>
      </div>
    </div>
    <div class="Vlt-col Vlt-col--3of4" id="careers">
      <% Career::DEPARTMENTS.each do |name, codes| %>
        <div class="Vlt-grid Nxd-department" data-department="<%= name %>">
          <div class="Vlt-col Vlt-col--2of2">
            <h3><%= name %></h3>
          </div>
          <hr class="hr--short"></hr>
          <% @careers.select { |c| (c.department_codes & codes).any? }.each do |career| %>
            <div class="Vlt-col Vlt-col--1of2">
              <div class="Vlt-card Vlt-card--center">
                <div class="Vlt-card__header">
                  <h4><%= career.title %></h4>
                </div>
                <div class="Vlt-card__content Vlt-grid">
                  <small class="Nxd-career__subtitle Vlt-col"><%= career.location %></small>
                  <small><%= link_to "Find out more", career.url, class: "Vlt-text-link Vlt-col" %></small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
